.img-preview{
    display: flex;

    &.with-margin{
        margin-bottom: 60px;
    }

    .cell{
        width: 100%;

        img{
            width: 100%;
        }
    }

    /* ROW VIEW */
    &.row{
        width: 83%;
        margin-left: auto;
        margin-right: auto;

        &.small{
            height: 280px;
            .cell{
                width: 45%;
            }
        }

        &.horizontal{
            height: 420px;
        }

        &.vertical{
            height: 720px;
        }

        &.right-position{
            justify-content: flex-end;
        }

        &.center-position{
            justify-content: center;
        }

        .cell{
            padding: 5px;

            //if horizontal
            //height: 180px;

            .cell-image{
                margin: 0;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    /* LANDSCAPE VIEW */
    &.landscape{
        flex-wrap: wrap;
        padding-top: 5px;
        padding-bottom: 5px;
        .cell{
            flex: 1 0 auto;

            img{
                margin: 0;
                //16/9 image size
                //width: 100vw;
                //height: 56.25vw;
            }
        }
    }

    /* LANDSCAPE WITH PARALLAX VIEW */
    &.landscape-with-effect{
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

/* netlify preview style */
