@import "../../helpers/variables";

.pagination-nav{
    position: fixed;
    top: 50%;
    width: 50px;

    .nav-more-info {
        transition: transform 1.2s ease-in-out;
        width: 300px;
    }

    .article-title {
        width: 160px;
        height: 48px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover {
        width: 150px;
        color: black;

        .nav-more-info {
            display: flex;
        }

        &.arrow-right {
            .nav-more-info {
                transform: translateX(-150px);
            }
        }

        &.arrow-left {
            .nav-more-info{
                transform: translateX(270px);
            }
        }
    }

    &.arrow-right {
        right: 0;
    }

    &.arrow-left {
        left: 0;
    }

    a.link:hover{
        color:black;
    }

    .nav-more-info {
        display: flex;
        background: white;
        margin-top: -70px;
    }

    &.arrow-left{
        .nav-arrow {
            text-align: left;
        }

        .nav-more-info{
            margin-left: -270px;
            span.article-title{
                order:2;
            }

            img{
                order: 1;
            }
        }
    }

    &.arrow-right {
        .nav-arrow {
            text-align: right;

            &.next-arrow{
                order: 1;
            }
        }
        .nav-more-info{
            text-align: end;
            justify-content: flex-end;
            span.article-title{
               order:1;
            }

            img{
                order: 2;
            }
        }
    }

    img{
        margin: 0;
        height: fit-content;
        align-self: center;
    }

    span.article-title{
        align-self: center;
        margin: 20px;
    }
}
