@import "../../helpers/variables";

.pagination-nav{
    position: fixed;
    top: 50%;
    width: 50px;

    &:hover {
        width: 150px;
        color: black;

        .nav-arrow {
            visibility: hidden;
        }

        .nav-more-info {
            transition-duration: 1.2s;
            visibility: visible;
            display: flex;
        }

        &.arrow-right {
            .nav-more-info {
                transform: translateX(-80px);
            }
        }

        &.arrow-left {
            .nav-more-info{
                transform: translateX(80px);
            }
        }

        span.article-title{
            flex: 1;
            text-align: end;
        }
    }

    &.arrow-right {
        right: 0;
        .nav-more-info{
            margin-right: -80px;
        }
    }

    &.arrow-left {
        left: 0;
    }

    a.link:hover{
        color:black;
    }

    .nav-more-info {
        display: flex;
        visibility: hidden;
        background: white;
        margin-top: -70px;
    }

    &.arrow-left{
        .nav-arrow {
            text-align: left;
        }

        .nav-more-info{
            margin-left: -80px;
            span.article-title{
                order:2;
            }

            img{
                order: 1;
            }
        }
    }

    &.arrow-right {
        .nav-arrow {
            text-align: right;

            &.next-arrow{
                order: 1;
            }
        }
    }

    img{
        margin: 0;
        height: fit-content;
        align-self: center;
    }

    span.article-title{
        align-self: center;
        margin: 20px;
    }
}
