/* COLORS */
$grey : #22222266;
$footer-grey: #1d1d1d4d;

/* transitions */
$transition-color: color 0.3s ease-out;
$transition-visibility: visibility 0.5s linear 300ms, opacity 300ms;

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}


%rotate-on-hover {
    transition: transform 0.5s;
    &:hover{
        transform: rotate(360deg);
    }
}

/* FONT */
%font1 {
    font-family: Arial;
    font-weight: 600;
}

.font1{
    @extend %font1;
}

%font2 {
    font-family: darker grotesque;
}

.font2{
    @extend %font2;
}

%font3 {
    font-family: poiret one;
}

.font3{
    @extend %font3;
}
