@import "../helpers/variables";
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');


/* CSS class HELPERS */
.centered{
    text-align: center;
}

.capital-letters{
    text-transform: uppercase;
}

.no-box-shadow{
    box-shadow: 0 0px 0 0;
}

a.link{
    transition:color 0.3s ease-out;
    cursor: pointer;
    color: black;

    &:hover{
        color: $grey;
    }

    &.box-shadow {
        &:hover{
            box-shadow: 0 1px 0 0 currentColor;
        }
    }

    &.no-box-shadow{
        box-shadow: 0 0px 0 0;
    }

    &.no-text-decoration{
        text-decoration: none;
    }
}

.article-date{
    color: grey;
    @extend %font2;
}

.article-title{
    @extend %font2;
    font-size: 21px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.18em;
}

/* image overloay */
.image-container{
    position: relative;
    &:hover{
        .image-overlay{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.1)
        }
    }
}

/* application CSS */
header.app-header{
    padding: 20px 70px 20px 0px;
    position: fixed;
    width: 100%;
    max-width: 70rem;
    z-index: 1000;
    background: white;
}

main{
    top: 90px;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
}

footer.app-footer{
    height: 320px;

    .header-nav{
        padding-top: 150px;
        padding-bottom: 100px;
    }

    .powered-by-footer{
        text-align: center;
        color: $footer-grey;
        a{
            color: $footer-grey;
        }
    }

    .social-icons{
        display: block;
        margin-top: 50px;
    }
}
