@import "../helpers/variables";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* CSS class HELPERS */
.centered{
    text-align: center;
}

.capital-letters{
    text-transform: uppercase;
}

.no-box-shadow{
    box-shadow: 0 0px 0 0;
}

a.link{
    transition:color 0.3s ease-out;
    cursor: pointer;
    color: black;

    &:hover{
        color: $grey;
    }

    &.box-shadow {
        &:hover{
            box-shadow: 0 1px 0 0 currentColor;
        }
    }

    &.no-box-shadow{
        box-shadow: 0 0px 0 0;
    }

    &.no-text-decoration{
        text-decoration: none;
    }
}

.article-date{
    color: grey;
    font-family : 'baskerville';
}

.article-title{
    font-family : baskerville;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.18em;
}

/* application CSS */
header.app-header{
    padding: 50px 0px 50px 0px;
}

footer.app-footer{
    height: 320px;

    .header-nav{
        padding-top: 150px;
        padding-bottom: 100px;
    }

    .powered-by-footer{
        text-align: center;
        color: $footer-grey;
        a{
            color: $footer-grey;
        }
    }

    .social-icons{
        display: block;
        margin-top: 50px;
    }
}
