@import "../../helpers/variables";

@keyframes fadein {
  0% {
    opacity:0;
  }
  75% {
    opacity:1;
  }
  100%{
    opacity:0;
  }
}

.like-counter-container{
    cursor:pointer;
    position: absolute;
    top: 50px;
    right: 104px;

    .like-count{
      visibility: hidden;
    }

    &.liked{
        .like-count{
            visibility: visible;
        }
    }

    .trophee-icon.trophee-animation{
      transform: translateY(-30px);
      transition: transform 0.3s ease-in;
      animation: fadein 1.5s;
    }

    .trophee-icon{
        position: absolute;
        left: 3px;
        fill: gold;
        font-size: 18px;
        opacity: 0;
        stroke-width: 1px;
        stroke: black;
    }

    &.liked{
        color: $grey;
    }

    &:hover{
        color: $grey;
    }

    .like-counter{
      display: flex;
    }

    svg{
      margin-right: 5px;
    }
}
