@import "../../helpers/variables";

.side-panel-navigation {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 25px;

    a {
        letter-spacing: .18em;
        line-height: 1.8em;
        text-transform: uppercase;
        color: #292929;
        font-family: Montserrat;
        padding-bottom: 10px;
        box-shadow: none;

        &:hover{
            color: #22222266;
        }

    }

    svg.MuiSvgIcon-root{
        align-self: flex-end;
    }

    .close-icon{
        @extend %rotate-on-hover;
    }
}
