.article-by-topics-header{
    height: 70px;
    font-size: 21px;
}

.article-by-topics{
    padding: 0px 160px 0px 160px;
}

.article-by-topics-content{
    padding-bottom: 40px;

    .article-preview-container{
        margin-bottom: 40px;
    }
}

.article-preview:hover{
    background-color: rgba(255,255,255,.1);
}
